/*
/*	Variables
/*---------------------------------------------------------------------------------------- */

/*
/*	Colours
/*---------------------------------------------------------------------------------------- */

$primary: #a2c3bf;
$secondary: #b3ba75;
$secondary-light: #f5f7e8;
$accent: #e6a458;
$neutral: #7a8685;

/*
/*  Mixins
/*---------------------------------------------------------------------------------------- */